html,
body{
    margin:0;
    padding:0;
}

body{
    background:grey;
    font-size:16px;
}

.container{
    margin:20px auto;
    background: #fff;
    padding: 20px;
    max-width:1280px;
}
